.topFixedBanner{
    background-image: url('../images/banner1.jpg');
    min-height: 550px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}


.topBannerOverlay{
    position: absolute;
    min-height: 550px;
    width: 100%;
    background: rgb(0, 0, 0, 0.6);

}

.sliderContent{
    margin-top: 14em;
}

.sliderTitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 48px;
}

.sliderSubtitle{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 22px;

}

.Frontend{
    height: 120px;
    width: 120px;
}

.Backend{
    height: 120px;
    width: 120px;
}

.Mobile{
    height: 120px;
    width: 120px;
}

.Qa{
    height: 120px;
    width: 120px;
}


.serviceCard{
    margin: 5px 5px 5px 5px;
    height: 15rem;
    padding: 40px 30px 40px 30px;
    box-shadow: 0 0 8px 0 rgb(4, 55, 105, 0.6);
    transition: transform 0.3s ease; /* Transition for smooth effect */
}
.serviceCard:hover{
    margin: 5px 5px 5px 5px;
    height: 15rem;
    padding: 38px 30px 38px 30px;
    box-shadow: 0 0 16px 0 rgb(4, 55, 105, 0.6);
    transform: scale(1.1); /* Scale up the card on hover */
}

.serviceCard h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #505050; /* Text color for the title */
    font-size: 1.5rem; /* Font size for the title */
    margin-top: 10px; /* Adjust top margin for spacing */
    /* Add any other styling you want for the title here */
  }


  .serviceMainTitle {
    color: #505050;
    margin-top: 4rem;
    margin-bottom: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    position: relative;
    display: inline-block;
    color: #333; /* Text color for the title */
  }
  
  .serviceMainTitle::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50px; /* Adjust the width of the underline */
    height: 2px; /* Adjust the height and thickness of the underline */
    background-color: #007bff; /* Color of the underline */
    transform: translateX(-50%);
    transition: width 0.3s ease; /* Transition for smooth effect */
  }
  
  .serviceMainTitle:hover::after {
    width: 100%;
  }


  